body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Karla';
}

h2{
    color: D5D4D8;
    font-weight: bold;
}

#generate{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

#random{
    color: #4ADF86;
}

#main{
    background:#1f2937;
}

#generate-pw{
    background-color: #4ADF86;
    border: none;
    border-radius: 2px;
    color:white;
    font-family: 'Karla';font-size: 22px;

    
}